// Navigation code here
.navigations{
    // background-color: lightgrey;
    
    // position: fixed;
    .width(100%);
    // opacity: 90%;
    .flex(space-between, baseline);
    margin-bottom: .5%;
    .getApp{
        .flex(end, center);
        // .width(10%);
        a{
           .text(grey, 1.4rem);
        }
        img{
            .width(60%);
        }
    }
.logo{
    transform: translate(-50%, 29%);
    .flex(center, baseline);
    img{
        height: 90px;
    }
}
    nav {
        .flex(space-around, baseline);
        .width(14%);
        // margin-top: 2%;
        // @media @phone{
        //     width:100%;
        // }
      
        a {
            .text(grey, 1.6rem);

        }
    }

} //nav ends